<div class="container">



</div>



<div class="container">
  <form class="formulario" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-sm-12">
        <h1> Formulario de solicitud de ayuda</h1>
      </div>
    </div>


  </form>

  <div class="row">
    <div class="form-group">
      <label  for="nombreCompleto">Nombre completo del solicitante</label>
      <input type="text" id="nombreCompleto" name="nombreCompleto" class="form-control" [(ngModel)]="nombreCompleto" required>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <label for="Viceministerio">Viceministerio o dirección</label>
      <select id="Viceministerio" name="ayudaNecesaria"[(ngModel)]="ayudaNecesaria" class="form-control" required>

        <option value="" disabled selected hidden>Seleccionar</option>
        <option value="UPS">UPS</option>
        <option value="UPS">Metro</option>
        <!-- Agrega más opciones aquí según sea necesario -->
      </select>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-12">
      <label for="ubicacionEspecifica">Ubicación específica</label>
      <input type="text" id="ubicacionEspecifica" name="ubicacionEspecifica" class="form-control" [(ngModel)]="ubicacionEspecifica" required>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <label for="numeroContacto">Número de contacto o extensión</label>
      <input type="text" id="numeroContacto" name="numeroContacto" [(ngModel)]="numeroContacto"  class="form-control" required>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <label for="ayudaNecesaria">Seleccione en qué se necesita ayuda</label>
      <select id="ayudaNecesaria" name="ayudaNecesaria" [(ngModel)]="ayudaNecesaria" class="form-control" required>
        <option value="">Seleccionar</option>
        <option value="UPS">UPS</option>
        <!-- Agrega más opciones aquí según sea necesario -->
      </select>
    </div>



    <div class="col-lg-6 col-md-6 col-sm-12">
      <label for="tipoServicio">Seleccione el tipo de servicio en el que necesita ayuda</label>
      <select id="tipoServicio" name="tipoServicio" class="form-control" [(ngModel)]="tipoServicio" required>
        <option value="">Seleccionar</option>
        <option value="Crear formulario en Angular">Crear formulario en Angular</option>
        <!-- Agrega más opciones aquí según sea necesario -->
      </select>
    </div>

    <div class="col-md-12 mt-2">

      <button class="btn btn-large btn-primary col-md-12 text-uppercase" type="submit">Enviar</button>
     </div>
  </div>
</div>



